footer{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: 100%;
}

footer p{
    text-align: center;
    margin: 0 auto;
    opacity: 70%;
}

.footer__link{
    text-decoration: none;
}