@import 'mixins';

.grid{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem ;
    grid-template-rows: 18rem 18.5rem;
    grid-template-areas: 
    " a a b e"
    " c d d e"
    ;
    column-gap:2rem;
    row-gap: 2rem;
    justify-content: center;
    margin: 10px;
    font-size: 13px;

    @include screen-size(xsmall){
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-template-rows: none;
        padding: 20px;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        ;
    }

    @include screen-size(small){
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-template-rows: none;
        padding: 20px;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        ;
    }

    @include screen-size(medium){
        grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
        grid-template-rows: 25rem auto 16rem;
        align-items: stretch;
        padding: 20px;
        grid-template-areas: 
        "a d"
        "b c"
        "e e"
        ;
    }

    @include screen-size(large){
        grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
        padding: 20px;
        grid-template-areas: 
        " a a b"
        " c d d"
        " e e e"
        ;
    }

    .item{
        border-radius: 10px;
        padding: 32px;
        z-index: 2;
        
        .profile-img{
            border-radius: 50px;
            height: 30px;
            width: 30px;
            border: 10px;
            border-color: white;
            margin-right:20px ;
        }

        .section-item:not(:last-child){
            margin-bottom: 10px;
        }

        .section-item.head{
            display: inline-flex;

            .quotation-img{
                position: absolute;
                opacity: 75%;
                z-index: -1;
                padding-left: 18.5rem;
                top: 1rem;

                @include screen-size(xsmall){
                    padding-left: 15rem;
                    top: 2rem;
                  
                }
                @include screen-size(small){
                    padding-left: 22rem;
                    top: 2rem;
                    
                }
                @include screen-size(medium){
                    padding-left:11rem;
                    top: 2rem;
                    height: 6rem;
                }
                @include screen-size(large){
                    padding-left:25rem;
                    top: 2rem;
                  
                }
             }
        }
        
        span{
            opacity: 50%;
        }
        
        .text-large{
            font-size: 19px;
            font-weight: 500;
        }
    }

    .item-a{
        background-color: $violet;
        width: 100%;
        grid-area:a;
    }

    .item-b{
        background-color: $darkGrayishBlue;
        width: 100%;
        grid-area:b;
    }

    .item-c{
        background-color: $white;
        width: 100%;
        color: black;
        grid-area:c;        
    }
    .item-d{
        background-color: $darkBlackishBlue;
        width: 100%;
        grid-area:d;
    }      

    .item-e{
        background-color: $white; 
        border: 1px;
        width: 100%;   
        grid-area: e;
        color: black;
    }
}