html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  background-color: #ecf2f8;
}

p {
  font-size: 13px;
  line-height: 1.5;
  opacity: 75%;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #dddcdc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 5px 3px 20px 6px #dddcdc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 15rem 15rem 15rem;
      grid-template-columns: 15rem 15rem 15rem 15rem;
  -ms-grid-rows: 18rem 18.5rem;
      grid-template-rows: 18rem 18.5rem;
      grid-template-areas: " a a b e" " c d d e";
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  font-size: 13px;
}

@media (max-width: 575.98px) {
  .grid {
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    -ms-grid-rows: none;
        grid-template-rows: none;
    padding: 20px;
        grid-template-areas: "a" "b" "c" "d" "e";
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid {
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    -ms-grid-rows: none;
        grid-template-rows: none;
    padding: 20px;
        grid-template-areas: "a" "b" "c" "d" "e";
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid {
    -ms-grid-columns: (minmax(12rem, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
    -ms-grid-rows: 25rem auto 16rem;
        grid-template-rows: 25rem auto 16rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 20px;
        grid-template-areas: "a d" "b c" "e e";
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid {
    -ms-grid-columns: (minmax(12rem, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
    padding: 20px;
        grid-template-areas: " a a b" " c d d" " e e e";
  }
}

.grid .item {
  border-radius: 10px;
  padding: 32px;
  z-index: 2;
}

.grid .item .profile-img {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  border: 10px;
  border-color: white;
  margin-right: 20px;
}

.grid .item .section-item:not(:last-child) {
  margin-bottom: 10px;
}

.grid .item .section-item.head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grid .item .section-item.head .quotation-img {
  position: absolute;
  opacity: 75%;
  z-index: -1;
  padding-left: 18.5rem;
  top: 1rem;
}

@media (max-width: 575.98px) {
  .grid .item .section-item.head .quotation-img {
    padding-left: 15rem;
    top: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid .item .section-item.head .quotation-img {
    padding-left: 22rem;
    top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid .item .section-item.head .quotation-img {
    padding-left: 11rem;
    top: 2rem;
    height: 6rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid .item .section-item.head .quotation-img {
    padding-left: 25rem;
    top: 2rem;
  }
}

.grid .item span {
  opacity: 50%;
}

.grid .item .text-large {
  font-size: 19px;
  font-weight: 500;
}

.grid .item-a {
  background-color: #7541c8;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.grid .item-b {
  background-color: #48556a;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.grid .item-c {
  background-color: white;
  width: 100%;
  color: black;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.grid .item-d {
  background-color: #19212e;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: d;
}

.grid .item-e {
  background-color: white;
  border: 1px;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: e;
  color: black;
}
/*# sourceMappingURL=style.css.map */