@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color : #0400CB;
    --background-color :#F6F6F6;
    --white : #ffffff;
    --text-color : #111111;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 34px;
}

h5{
    font-size: 32px;
}

p{
    font-size: 18px;
}

nav{
    background-color: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav ul{
    margin-right: 150px;
}

nav ul li{
    display: inline-block;
    margin: 0 32px;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a{
    color: #0400CB;
}

nav ul li a:hover{
    color: #1e1aff;
}

nav .nav-logo{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 150px;
}

nav .nav-toggle {
    cursor: pointer;
}

nav .nav-toggle span{
    height: 4px;
    width: 30px;
    background-color: #111111;
    margin: 4px;
    border-radius: 25px;
    display: block;
}

.hide-for-desktop{
    display: none;
}


/* ====================================== Hero Section ======================================*/
.hero-section{
    display: flex;
    justify-content: center;
    height: 88vh;
    margin: auto;
    /* background-color: blue; */
}

.hero-section .hero-content{
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: auto 0;
    margin-left: 100px;
}

.hero-section .wrapper{
    top: 50%;
}

.hero-section img{
    height: 400px;
    width: auto;
    margin-top: 50px;
}

.hero-content h5{
    color: var(--primary-color);
}

.hero-content .description{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-content .button-section{
    margin-top: 50px;   
}

.hero-content .button-section a{
    width: 100%;
    padding: 15px 42px 15px;
    margin-right: 20px;
    border-radius: 50px;
    font-weight: 500;
}

.hero-content .button-section .cv-button{
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
}

.hero-content .button-section .cv-button:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.hero-content .button-section .contact-button{
    background-color: #D8E6F6;
    color: var(--text-color);
    text-align: center;
}


.hero-content .button-section .contact-button:hover{
    background-color: #c7e1fd;
    color: var(--text-color);
}

/* ====================================== About Section ======================================*/
.about-section{
    height: 100vh;
    margin-left: 80px;
    margin-right: 80px;
    padding: 70px;
}

.about-section .title-section h1{
    font-size: 72px;
    color: var(--primary-color);
    position: absolute;
    z-index: 10;
}

.about-content #item-1{
    width: 40%;
}

.about-content #item-2{
    margin-left: 100px;
    text-align: justify;
    width: 100%;
}

.about-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-content .about-img img{
    margin-top: 45px;
    margin-bottom: 45px;
    height: 500px;
    width: auto;
}

.about-content .about-img .clip-circle{
    clip-path: circle(150px at center);
    align-items: center;
}


#scrollToTopBtn {
    display: inline-block;
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    width: 48px;
    margin: 10px;

    position: fixed;
    bottom: 0.5%;
    right: 1vw;
    z-index: 100;
    transform: translateY(10%);
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10%);
}

@media screen and (max-width:765px){

    nav .nav-logo{
        margin-left: 35px;
    }

    nav .nav-toggle{
        margin-right: 35px;
        z-index: 9999;
    }

    .nav-toggle.active .line:nth-of-type(1){
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
        background-color: var(--white);
    }

    .nav-toggle.active .line:nth-of-type(2){
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .nav-toggle.active .line:nth-of-type(3){
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
        background-color: var(--white);
    }

    .nav-toggle .line:nth-of-type(1){
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .nav-toggle .line:nth-of-type(2){
        opacity: 1;
	    filter: alpha(opacity=100);
    }
    .nav-toggle .line:nth-of-type(3){
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .nav-items{
        background-color: #0400CB;
        opacity: 90%;
        position: absolute;
        margin: 0;
        width: 80%;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 1000;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }

    .nav-items.show{
        transform: translateX(0);
    }

    nav ul li{
        position:relative;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-end;
        /* margin: auto; */
        top:10%;
        z-index: 9999;
    }

    nav ul li a{
        color:var(--white);
       
        margin: 20px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        opacity: 1;

        font-size: 38px;
        text-align: right;
    }

    .hero-section{
        flex-wrap: wrap-reverse;
        margin-bottom: 50px;
        z-index: 1;
        margin-bottom: 150px;
    }

    .hero-section .hero-content{
        margin-left: 0px;
    }

    .hero-section img{
        height: auto;
        width: 100%;
    }

    .hero-content .button-section{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center; 
       flex-wrap: wrap;
       margin-top: 20px;   
    }

    .hero-content .button-section a{
        width: 70%;
        padding: 15px 42px 15px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .hero-content .wrapper{
        margin-left: 35px;
        margin-right: 35px;
    }

    .about-section{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
    }

    .about-section .title-section h1{
        font-size: 56px;
        text-align: center;
        position: relative;
    }

    .about-content{
        flex-wrap: wrap;
        position: absolute;
    }
        
    .about-content #item-1{
        width: 100%;
        top: -150px;
        position: relative;
        z-index: 1;
    }

    .about-content #item-1 img{
        width: 100%;
        height: auto;
    }

    .about-content #item-2{
        margin-left: 0;
        margin: auto;
        width: 80%;
        position: relative;
        top: -280px;
    }

    .hide-for-desktop{
        display: block;
    }

    /* .hide-for-mobile{
        display: none;
    } */
}

@media screen and (min-width:765.01px) and (max-width:1024px){
    
    nav{
        flex-direction: column;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }
    
    nav .nav-logo{
        margin-left: 0;
        margin-bottom: 20px;
    }

    nav ul{
        margin-right: 0;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-section .hero-content{
        margin:30px auto;
    }

    .hero-section img{
        height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .hero-content .button-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
        margin-top: 20px;   
     }
 
     .hero-content .button-section a{
         width: 85%;
         padding: 18px 42px 18px;
         margin-right: 0px;
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .about-section{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 100px;
        padding:0;
        padding-top: 50px;

    }

    .about-section .title-section h1{
        font-size: 72px;
        text-align: center;
        position: relative;
    }

    .about-content{
        flex-wrap: wrap;
        position: absolute;
    }
        
    .about-content #item-1{
        width: 100%;
        top: -300px;
        position: relative;
        z-index: 1;
    }

    .about-content .about-img .clip-circle{
        clip-path: circle(250px at center);
        align-items: center;
    }

    .about-content #item-1 img{
        width: 100%;
        height: auto;
    }

    .about-content #item-2{
        margin-left: 0;
        margin: auto;
        width: 80%;
        position: relative;
        top: -580px;
    }

}